<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div class="reg">
    <section class="register">
        <h1>Register</h1>

        <article>
            <form method="POST">
                <label for="username"><h2>Username</h2></label>
                <input name="username" id="username" required>
                <br>
                <label for="password"><h2>Password</h2></label>
                <input name="password" id="password" required>
                <br>
                <label for="email"><h2>Email</h2></label>
                <input name="email" id="email">
                <br><br>
                <input class="submit" type="submit" value="Register">
            </form>
        </article>
    </section>
</div>

</body>
</html>